<div id="<%= dom_id inventory_transaction %>">
  <p>
    <strong>Product:</strong>
    <%= inventory_transaction.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= inventory_transaction.quantity %>
  </p>

  <p>
    <strong>Transaction type:</strong>
    <%= inventory_transaction.transaction_type %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= inventory_transaction.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= inventory_transaction.description %>
  </p>

</div>
