<h1 style="text-align: center; margin-bottom: 20px;" class="background-h1">Transacciones de Inventario</h1>

<div style="text-align: right; margin-bottom: 20px;">
  <%= link_to 'Regresar', dashboard_path, class: 'btn-back' %>
</div>

<style>
  body {
    background-color: #9fc0f5; /* Color de fondo */
  }

  .table-container {
    width: 80%; /* Ancho de la tabla */
    margin: 20px auto; /* Centra la tabla en la página */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
    padding: 20px; /* Espaciado alrededor de la tabla */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
    border-radius: 8px; /* Bordes redondeados */
  }

  table {
    width: 100%; /* Ancho completo dentro del contenedor */
    border-collapse: collapse; /* Colapsa bordes */
  }

  th, td {
    border: 2px solid black; /* Bordes negros */
    padding: 12px; /* Espaciado interno ajustado */
    text-align: left; /* Alineación del texto */
    font-weight: bold; /* Texto en negrita */
  }

  th {
    background-color: #6c757d; /* Color de fondo para las cabeceras */
    color: white; /* Color de texto en blanco */
  }

  td {
    background-color: #f8f9fa; /* Fondo más claro para las celdas */
    vertical-align: middle; /* Centra el contenido verticalmente */
  }

  tr:nth-child(even) {
    background-color: #e9ecef; /* Color de fondo más claro para filas pares */
  }

  tr:hover {
    background-color: #dee2e6; /* Color al pasar el mouse */
  }

  .btn-back {
    background-color: #dc3545; /* Color rojo para el botón de regresar */
    color: white; /* Texto en blanco */
    padding: 5px 15px; /* Espaciado en el botón */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    text-decoration: none; /* Elimina el subrayado en el link */
    display: inline-block; /* Cambia a bloque en línea */
    font-size: 14px; /* Tamaño de letra */
  }

  .btn-create {
    background-color: #28a745; /* Verde para crear */
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }

  .btn-create:hover {
    background-color: #218838; /* Verde más oscuro al hacer hover */
  }

  .btn-edit, .btn-delete {
    background-color: #007BFF; /* Azul para editar */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
  }

  .btn-delete {
    background-color: #dc3545; /* Rojo para eliminar */
  }

  .btn-edit:hover, .btn-delete:hover {
    background-color: #0056b3; /* Azul más oscuro al hacer hover */
  }

  .btn-delete:hover {
    background-color: #c82333; /* Rojo más oscuro al hacer hover */
  }

  .btn-export {
    background-color: #ffc107; /* Color amarillo para el botón de exportar */
    color: black;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px; /* Espaciado a la izquierda del botón */
  }

  .btn-export:hover {
    background-color: #e0a800; /* Amarillo más oscuro al hacer hover */
  }
</style>

<div class="table-container">
  <div style="margin-bottom: 20px;">
    <%= link_to 'Nueva Transacción', new_inventory_transaction_path, class: 'btn-create', style: 'font-weight: bold;' %>
    <%= link_to inventory_transactions_path(format: :xlsx), class: 'btn-export', style: 'font-weight: bold;' do %>
    <i class="fas fa-file-excel"></i> Exportar a Excel
      <% end %>

  </div>

  <table>
    <thead>
      <tr>
        <th>ID del Producto</th>
        <th>Cantidad</th>
        <th>Tipo de Transacción</th>
        <th>Fecha</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @inventory_transactions.each do |inventory_transaction| %>
        <tr>
          <td><%= inventory_transaction.product_id %></td>
          <td><%= inventory_transaction.quantity %></td>
          <td><%= inventory_transaction.transaction_type %></td>
          <td><%= inventory_transaction.date.present? ? inventory_transaction.date.strftime("%d/%m/%Y") : 'Fecha no disponible' %></td>
          <td><%= inventory_transaction.description %></td>
          <td>
            <%= link_to 'Editar', edit_inventory_transaction_path(inventory_transaction), class: 'btn-edit' %>
            <%= link_to 'Eliminar', inventory_transaction_path(inventory_transaction), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar esta transacción?' }, class: 'btn-delete' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
