<h1 class="background-h1">Crear Nueva Transacción de Inventario</h1>

<div class="form-container">
  <%= form_with model: @inventory_transaction, local: true do |f| %>
    
    <div class="form-group">
      <%= f.label :product_id, "Producto", class: 'form-label' %>
      <%= f.select :product_id, options_from_collection_for_select(Product.all, :id, :name), { prompt: "Selecciona un Producto" }, class: 'form-input' %>
    </div>

    <div class="form-group">
      <%= f.label :quantity, "Cantidad", class: 'form-label' %>
      <%= f.number_field :quantity, class: 'form-input', placeholder: "Ingresa la cantidad" %>
    </div>

    <div class="form-group">
      <%= f.label :transaction_type, "Tipo de transacción", class: 'form-label' %>
      <%= f.select :transaction_type, options_for_select([
        ["Entrada", InventoryTransaction::TRANSACTION_TYPES[:entry]], 
        ["Salida", InventoryTransaction::TRANSACTION_TYPES[:exit]]
      ]), {}, class: 'form-input' %>
    </div>

    <div class="form-group">
      <%= f.label :date, "Fecha de Transacción", class: 'form-label' %>
      <%= f.date_field :date, value: Date.today, class: 'form-input' %>
    </div>

    <div class="form-group">
      <%= f.label :description, "Descripción", class: 'form-label' %>
      <%= f.text_area :description, class: 'form-input', placeholder: "Ingresa una descripción" %>
    </div>

    <div class="form-group" style="display: flex; justify-content: space-between; align-items: center;">
      <%= f.submit "Crear Transacción", class: 'btn-submit' %>
      <%= link_to "<i class='fas fa-arrow-left' style='font-size: 24px;'></i> Regresar a las transacciones".html_safe, inventory_transactions_path, class: 'btn-back btn-red' %>
    </div>

  <% end %>
</div>

<!-- Estilos -->
<style>
  body {
    background-color: #f4f7fa;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }

  .background-h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    color: white;
  }

  .form-container {
    max-width: 600px;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.2);
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #343a40;
  }

  .form-input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    font-size: 16px;
  }

  .form-input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
    outline: none;
  }

  .btn-submit {
    background-color: #28a745;
    color: black !important;
    padding: 12px 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-right: 10px;
  }

  .btn-submit:hover {
    background-color: #218838;
    border-color: rgba(0, 0, 0, 0.4);
  }

  .btn-back {
    padding: 12px 20px;
    background-color: #dc3545;
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  .btn-back i {
    margin-right: 8px;
  }

  .btn-back:hover {
    background-color: #c82333;
    border-color: rgba(0, 0, 0, 0.4);
  }
</style>
