<h1 style="text-align: center; margin-bottom: 20px;" class="background-h1">Categorias</h1>

<div class="table-container">
  <div class="buttons-container">
    <%= link_to 'Nueva Categoria', new_category_path, class: 'btn-create' %>
    <%= link_to export_categories_path(format: :xlsx), class: 'btn-export', style: 'font-weight: bold;' do %>
      <i class="fas fa-file-excel"></i> Exportar a Excel
    <% end %>
    <%= link_to dashboard_path, class: 'btn-back' do %>
      <i class="fas fa-arrow-left" style="font-size: 14px; margin-right: 8px;"></i>
      <span style="font-weight: bold; color: black;">Regresar</span>
    <% end %>
  </div>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= category.description %></td>
          <td>
            <%= link_to 'Editar', edit_category_path(category), class: 'btn-edit' %>
            <%= link_to 'Eliminar', category_path(category), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar esta categoría?' }, class: 'btn-delete' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<style>
  body {
    background-color: #9fc0f5;
  }

  .table-container {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: 2px solid black;
    padding: 12px;
    text-align: left;
    font-weight: bold;
  }

  th {
    background-color: #6c757d;
    color: white;
  }

  td {
    background-color: #f8f9fa;
    vertical-align: middle;
  }

  tr:nth-child(even) {
    background-color: #e9ecef;
  }

  tr:hover {
    background-color: #dee2e6;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .btn-create {
    background-color: #28a745;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }

  .btn-create:hover {
    background-color: #218838;
  }

  .btn-back {
    background-color: #dc3545;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
  }

  .btn-back:hover {
    background-color: #c82333;
  }

  .btn-export {
    background-color: #ffc107;
    color: black;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }

  .btn-export:hover {
    background-color: #e0a800;
  }

  .btn-edit, .btn-delete {
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
    font-size: 12px;
  }

  .btn-delete {
    background-color: #dc3545;
  }

  .btn-edit:hover, .btn-delete:hover {
    background-color: #0056b3;
  }

  .btn-delete:hover {
    background-color: #c82333;
  }
</style>
